{% extends "base.html" %}
{% block titre%} {{produit.nom}} {% endblock titre%}
{% block contenu %}
  <div class="row">
  
  <div class="col-md-6 py-4">
    
     <img src="{{produit.image.url}}" class="img-fluid img-thumbnail">
     <div class="row">
      <form action="{% url 'panier:ajouter_au_panier' produit.id %}" method="post" class="col-md-6">
      {{ formAjout.as_p }}
     {% csrf_token %}
      <input type="submit" value="Ajouter au panier" class="btn btn-success" class="col-md-6">
     </div>
     
</form>
  </div class="py-4">
  <div class="col-md-6 py-5">
     <h1 class="text-success py-4">{{produit.nom}}</h1>
     <p class="text-center py-4"><strong>{{produit.prix}}</strong></p>
     <p>
        {{produit.description|truncatewords:15}}
     </p>
  </div>
</div>   
{% endblock %}
